@using TravelDbProject.Models.Classes
@model List<Blog>
<div class="padding">
    <h4>Top 10 Blog</h4>
    @foreach (var x in Model)
    {
        <ul class="list list-pad">
            <li class="list-bg"><span>@x.ID</span><a href="/Blog/BlogDetails/@x.ID">@x.BlogTittle</a></li>
        </ul>
    }

    @*<li class="list-bg1"><span>2.</span><a href="#">congue nihil imperdiet</a></li>
        <li class="list-bg"><span>3.</span><a href="#">Aadipisicing elit sed do</a></li>
        <li class="list-bg1"><span>4.</span><a href="#">luptatum zzril  </a></li>
        <li class="list-bg"><span>5.</span><a href="#">Claritas est etiam</a></li>
        <li class="list-bg1"><span>6.</span><a href="#">claritatem insitam;</a></li>
        <li class="list-bg"><span>7.</span><a href="#">velit esse molestie consequa</a></li>
        <li class="list-bg1"><span>8.</span><a href="#">nostrud exerci tation ulla</a></li>
        <li class="list-bg"><span>9.</span><a href="#">demonstraverunt lectores</a></li>
        <li class="list-bg1"><span>10.</span><a href="#">dolore te feu</a></li>*@

    <a href="/Blog/Blog/" class="link1">Tüm Blogları Gör</a>
</div>
